{{unit "cdmf.unit.lib.editable"}}
{{unit "cdmf.unit.lib.qrcode"}}
{{unit "cdmf.unit.device.type.qr-modal"}}

{{#if deviceFound}}
    {{#if isAuthorized}}

        {{#zone "device-thumbnail"}}
          <i class="fw fw-windows device-type fw-1x"></i>
        {{/zone}}

        {{#zone "device-details-header"}}
            <h1 class="device-id"
            data-deviceid="{{device.deviceIdentifier}}"
            data-type="{{device.type}}"
            data-ownership="{{device.ownership}}"
            data-owner="{{device.owner}}"
            data-status="{{device.status}}">
            {{device.owner}}'s {{device.name}}
            </h1>
            <a id="device-info-tooltip" href="#" data-toggle="tooltip" title="Device Identifier: {{device.deviceIdentifier}}
              	固件版本日期: {{device.osBuildDate}}
              UDID: {{device.udid}}">
              <i class="fw fw-info"></i>
            </a>
            {{#if device.model}}
              <h4>{{device.vendor}} {{device.model}}</h4>
            {{/if}}
            <h4>所有权 - <strong>{{device.ownership}}</strong></h4>
            <h4>设备是
              <strong>
                {{#equal device.status "ACTIVE"}}激活的{{/equal}}
                {{#equal device.status "INACTIVE"}}闲置的{{/equal}}
                {{#equal device.status "BLOCKED"}}阻塞的{{/equal}}
                {{#equal device.status "REMOVED"}}已移除{{/equal}}
                {{#equal device.status "UNREACHABLE"}}未找到{{/equal}}
              </strong>
            </h4>
        {{/zone}}

        {{#zone "device-opetations"}}
            {{#if device.isNotRemoved}}
                <div class="operation-container">
                  <div class="operation-title">
                      <h4>设备操作</h4>
                  </div>
                  {{unit "cdmf.unit.device.type.windows.new.operation-bar" device=device
                  backendApiUri=backendApiUri autoCompleteParams=autoCompleteParams}}
                </div>
            {{/if}}
        {{/zone}}

        {{#zone "device-details"}}
          <div class="vital-strip">
            {{#if device.deviceInfoAvailable}}
              {{#if device.BatteryLevel}}
                <p><i class="icon fw fw-battery fw-2x"></i> <span>{{device.BatteryLevel.value}}%</span></p>
              {{/if}}
              {{#if device.ramUsage}}
                <p><i class="icon fw fw-hardware fw-2x fw-rotate-90"></i> <span>{{device.ramUsage.value}} MB</span></p>
              {{/if}}
              {{#if device.internalMemory}}
                <p><i class="icon fw fw-hdd fw-2x fw-rotate-90"></i> <span>{{device.internalMemory.value}} GB</span>
                </p>
              {{/if}}
            {{else}}
              <p>电池，RAM和存储相关信息尚不可用。</p>
            {{/if}}
        </div>
        {{/zone}}

        {{#zone "device-details-tab-injected"}}
            <li><a data-toggle="tab" href="#location"
                   data-lat="{{device.location.latitude}}"
                   data-long="{{device.location.longitude}}"
                   class="initGeoLocationLink">位置</a></li>
            <li><a data-toggle="tab" href="#policy">政策合规</a></li>
        {{/zone}}

        {{#zone "device-view-tab-injected-conents"}}
            <div id="location" class="tab-pane fade ">
                {{#if device.location}}
                    <div class="tab-actions">
                        <div class="action-btn-container" id="location-action-bar">
                        </div>
                    </div>
                    <br/>
                    {{unit "cdmf.unit.geo-dashboard" device=device noGeoFencing=false hideSearch=true}}
                {{else}}
                    <div id="map-error" class="message message-warning">
                        <h4 class="remove-margin">
                            <i class="icon fw fw-warning"></i>
                            	设备位置信息目前不可用！ 请在几分钟内刷新页面。 如果设备的“位置服务设置”被禁用，
                            	或者WSO2 IoT服务器尚未从设备收到设备的位置信息，则位置详细信息将不可用。
                        </h4>
                    </div>
                    <p class="add-padding-5x"></p>
                    <p class="add-padding-5x"></p>
                    <p class="add-padding-5x"></p>
                {{/if}}
            </div>
            <div id="policy" class="tab-pane fade">
              <div id="policy-list-container">
              </div>
            </div>

        {{/zone}}

        </div>
        </div>
    {{else}}
        <h1 class="page-sub-title">
            	无权限
        </h1>
        <br>
        	您无权查看系统中的指定设备。
    {{/if}}
{{else}}
    <h1 class="page-sub-title">
        	未发现设备
    </h1>
    <br>
    	您尝试访问的设备已删除或不存在。
{{/if}}

{{#zone "bottomJs"}}
    {{#if isAuthorized}}
        <!--suppress HtmlUnknownTarget -->
        <script id="policy-view" src="{{@unit.publicUri}}/templates/policy-compliance.hbs"
                data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
                type="text/x-handlebars-template"></script>
        {{js "js/device-detail.js"}}
    {{/if}}
{{/zone}}
