{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}

{{unit "cdmf.unit.device.type.qr-modal" enrollmentURL=enrollmentURL deviceTypeName="Android"}}
{{unit "cdmf.unit.device.type.email.invite-modal" deviceTypeView="android_sense"}}

<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Android Sense</h1>
    <hr>
</div>

<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 padding-top">
    <img src="{{@unit.publicUri}}/images/android-sense-icon.png" class="img-responsive">
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-top">

</div>

<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 padding-top">
    <h3 class="uppercase">它能做什么</h3>
    <hr>
    <p class="grey margin-top">将Android设备连接到WSO2 物联网服务器并可视化传感器数据。</p>
    <br>
    <a href="#" class="download-link btn-operations"><i class="fw fw-mobile fw-inverse fw-lg add-margin-1x"></i> 登记设备</a>
    <a href="{{hostName}}{{@unit.publicUri}}/asset/androidsense.apk" class="btn-operations"><i class="fw fw-download fw-inverse fw-lg add-margin-1x"></i> 下载 APK</a>
    <a href="javascript:toggleEmailInvite()" class="btn-operations"><i class="fw fw-mail fw-inverse fw-lg add-margin-1x"></i> 通过电子邮件邀请</a>
    <p class="doc-link">了解最新的指示和故障排除，点击 <a href="https://docs.wso2.com/display/IoTS320/Android+Sense"
                                 target="_blank">[ here ]</a> 。</p>

    <h3 class="uppercase">你需要什么</h3>
    <hr>
    <p class="grey margin-top">你应该有一个Android设备以开始。</p>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">步骤 01</span>
               	继续并点击 [登记设备].
        </li>
        <li>
            <span class="badge">步骤 02</span>
               	您可以扫描QR码或直接下载Android代理。
        </li>
        <li>
            <span class="badge">步骤 03</span>
               	在你的Android设备上安装 Android 代理。
        </li>
        <li><span class="badge">步骤 04</span>
              	 继续[准备]部分。
    </ul>
    <br>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>后台异常。稍后再试。</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            	转到登录页面
                        </a>
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            	取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>无法执行操作</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>设备缩略图不存在。</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>异常错误。</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double grey-bg">
    <h3 class="uppercase">准备</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
               	将Android设备连接到网络。
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
               	在你的设备上启动 Android Sense 应用。
        </li>
        <li class="padding-top-double">
            <span class="badge">03</span>
               	用凭证填写登录表单。
            <i>(使用服务器URL 如同 [ https://&lt;WSO2_IoT_SERVER_HOST&gt;:&lt;
               HTTPS_SERVER_PORT&gt; ] 和
                <strong>Register Device</strong> 按钮.)</i>
        </li>
        <li>
            <a href="{{@unit.publicUri}}/images/registerView.png" target="_blank"
               class="padding-top-double">
                <img src="{{@unit.publicUri}}/images/registerView.png" class="img-responsive">
            </a>
        </li>

        <li class="padding-top-double">
            <span class="badge">04</span>
               	一旦设备注册完毕，单击<strong>[+]</strong> 按钮选择传感器。
            <a href="{{@unit.publicUri}}/images/selectSensorView.png" target="_blank"
               class="padding-top-double">
                <img src="{{@unit.publicUri}}/images/selectSensorView.png" class="img-responsive">
            </a>
        </li>
        <li class="padding-top-double">
            <span class="badge">05</span>
              	点击 <i>[Publish data]</i> 按钮将传感器读数发布到物联网服务器。
            <a href="{{@unit.publicUri}}/images/publishDataView.png" target="_blank"
               class="padding-top-double">
                <img src="{{@unit.publicUri}}/images/publishDataView.png" class="img-responsive">
            </a>
        </li>
    </ul>
    <br>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-double">
            <h3 class="uppercase">尝试</h3>
            <hr>
            <ul class="list-unstyled">
                <li class="padding-top-double">
            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
                    	你能看到所有你连接的设备
                   	 在<a href="{{@app.context}}/devices">[设备管理]</a> 页.
                </li>
                <li class="padding-top-double">
            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
                    	你可以选择您的任何一台已连接设备可用操作和实时数据监视。
                </li>
                <li class="padding-top-double">
            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>  对于传感器数据的历史分析，请导航到设备分析页面。
                </li>
            </ul>
            <br/>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-double">
            <p class="grey margin-top">点击图片放大</p>
            <center>
                <a href="{{@unit.publicUri}}/images/myDevices_analytics.png" target="_blank">
                    <img src="{{@unit.publicUri}}/images/myDevices_analytics.png" class="img-responsive">
                </a>
            </center>
        </div>
    </div>
</div>

{{unit "cdmf.unit.device.type.email.invite-modal" deviceTypeView="androidSense"}}
<div id="androidsense-statistic-response-template" style="display: none">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i id="status-icon" class="fw fw-error fw-stack-1x"></i>
                    </span>
                    <br>
                </h3>
                <h4>
                    <span id="title"></span>
                    <br>
                </h4>
                <span id="description"></span>
            </div>
        </div>
    </div>
</div>

<!--<div class="content">-->
<!--<div class="row">-->
<!--<div class="col-lg-5 col-md-6 col-centered">-->
<!--<h3>Scan QR code to start enrollment</h3>-->
<!--<p>Please scan the QR code using your mobile device to retrieve enrollment URL.</p>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-body col-centered">-->
<!--<div class="qr-code"></div>-->
<!--<br>-->
<!--<h5>-->
<!--Not having a QR code scanner in your device?-->
<!--<br><br>-->
<!--Try following link-->
<!--<br><br>-->
<!--<b>{{hostName}}/{{@unit.publicUri}}/asset/androidsense.apk</b>-->
<!--<br><br>-->
<!--on your device's Internet browser instead.-->
<!--</h5>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div id="device-agent-downloading-content" class="hide">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-7 col-centered center-container">
                <h3>Device Agent将很快下载。</h3>
            </div>
        </div>
    </div>
</div>
</div>

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
{{/zone}}