{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">虚拟火灾报警</h1>
    <hr>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 padding-top">
    <img src="{{@unit.publicUri}}/images/firealarm-icon.png" class="img-responsive">
</div>
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 padding-top">
    <h3 class="uppercase">它是做什么的</h3>
    <hr>
    <p class="grey margin-top">一个虚拟设备，模拟真实的火灾报警的功能。一旦运行，虚拟报警装置连接到物联网服务器和WSO2推动温度读数。</p>
    <p>该器件支持MQTT和XMPP通信。 它被配置为默认使用MQTT。</p>
    <br>
    <h3 class="uppercase">你需要什么</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">步骤 01</span>
              	继续并点击下载代理下载。
        </li>
        <li>
            <span class="badge">步骤 02</span>
               	按照<a href="#prepare"> [准备] </a>一节中的步骤操作。
        </li>
        <li>
            <span class="badge">步骤 03</span>
               	阅读[试用]部分以尝试使用该设备。
        </li>
    </ul>
    <br>
    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin"
       class="btn-operations"
       target="_blank"><i class="fw fw-api"></i> 查看 API</i>
    </a>
    <a href="#" class="download-link btn-operations">
        <i class="fw fw-download"></i>下载代理</a>
    {{#if displayStatus}}
        <a href="javascript:artifactUpload()" class="btn-operations"><i class="fw fw-upload fw-inverse fw-lg add-margin-1x"></i> 部署分析部件</a>
    {{/if}}

    <p class="doc-link">点击 <a href="https://docs.wso2.com/display/IoTS320/Enterprise+IoT+solution"
                                  target="_blank">[ 这 ]</a> 了解最新的说明和故障排除提示。
    </p>
    <div id="download-device-modal-content" class="hide">
        <div class="modal-header">
            <h4 class="pull-left modal-title">
                <span class="fw-stack">
                    <i class="fw fw-raspberry fw-stack-2x"></i>
                    <span class="fw-stack fw-move-right fw-move-bottom">
                      <i class="fw fw-circle-outline fw-stack-2x"></i>
                      <i class="fw fw-circle fw-stack-2x fw-stroke text-info"></i>
                      <i class="fw fw-add fw-stack-1x fw-inverse"></i>
                   </span>
                </span>
                  	将您的新火灾报警设备添加到{{@ app.conf.appName}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i>
            </button>
        </div>
        <hr>
        <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
            <div class="panel-body col-centered text-center">
                <h3>命名您的设备并下载代理。</h3>
                <br />
                <form id="downloadForm" method="GET"
                      action="{{@app.context}}/api/devices/sketch/download">
                    <div id="invalid-username-error-msg" class="alert alert-danger hidden"
                         role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="new-device-name" style="color:#3f3f3f;padding:5px"
                                   type="text"
                                   placeholder="Ex. Lobby_Firealarm"
                                   name="deviceName" size="60" required>
                            <br /><br />
                            <input type="hidden" class="deviceType" name="deviceType"
                                   value="{{@uriParams.deviceType}}" />
                            <input type="hidden" name="sketchType" value="virtual_firealarm"
                                   id="virtual_firealarm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttons" style="padding-bottom: 0px">
                <a class="btn btn-operations" onclick="downloadAgent()">现在下载</a>
                <a href="javascript:hidePopup()" class="btn-operations btn-default">取消</a>
            </div>
        </div>
    </div>
    <div id="device-agent-downloading-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>设备代理将很快下载。</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>后台异常，请稍后重试。</h3>
                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>你必须先登录。</h3><br />

                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            	转到登录页面
                        </a>
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            	取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>操作不允许。</h3><br />
                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>设备程序不存在。</h3><br />

                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>异常错误。</h3><br />

                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double grey-bg">
    <h3 class="uppercase">准备</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
              	解压下载的代理。
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
               	通过终端导航到解压缩的代理文件夹。
        </li>
        <li class="padding-top-double">
            <span class="badge">03</span>
               	运行命令: <span style="font-family: monospace;">sh start-device.sh</span>.
        </li>
    </ul>
    <br>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <h3 class="uppercase">The Virtual-Fire-Alarm Device</h3>
    <hr>
    <p class="grey margin-top">点击图片放大。</p>
    <center>
        <a href="{{@unit.publicUri}}/images/schematicsGuide.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/schematicsGuide.png" class="img-responsive">
        </a>
    </center>
    <br />
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <h3 class="uppercase">尝试</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
               	在<a href="{{@app.context}}/devices"> [设备管理] </a>页面查看所有连接的设备。
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
               	试用设备上的操作并监控实时数据。
        </li>
        <li class="padding-top-double">
            <span class="badge">03</span>
               	导航到设备的分析数据页面并查看设备发布的数据。
        </li>
    </ul>
    <br />
    <p class="grey margin-top">点击图片放大。</p>
    <center>
        <a href="{{@unit.publicUri}}/images/myDevices_analytics.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/myDevices_analytics.png" class="img-responsive">
        </a>
    </center>
</div>

<div id="virtualfirealarm-statistic-response-template" style="display: none">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i id="status-icon" class="fw fw-error fw-stack-1x"></i>
                    </span>
                    <br>
                </h3>
                <h4>
                    <span id="title"></span>
                    <br>
                </h4>
                <span id="description"></span>
            </div>
        </div>
    </div>
</div>

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
{{/zone}}
