{{unit "cdmf.unit.lib.qrcode"}}
{{unit "cdmf.unit.device.type.qr-modal" enrollmentURL=enrollmentURL deviceTypeName="Windows"}}
{{unit "cdmf.unit.device.type.email.invite-modal" deviceTypeView="windows"}}

<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Windows Mobile</h1>
    <hr>
</div>
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 padding-top">
    <img src="{{@unit.publicUri}}/images/windows-icon.png" class="img-responsive">
</div>


<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 padding-top">

    <h3 class="uppercase">它是做什么的</h3>
    <hr>
    <p class="grey margin-top">使用平台连接和管理您的Windows设备。</p>
    <br>

    <a href="#" class="download-link btn-operations"><i class="fw fw-mobile fw-inverse fw-lg add-margin-1x"></i> 登记设备</a>
    <a href="javascript:toggleEmailInvite()" class="btn-operations"><i class="fw fw-mail fw-inverse fw-lg add-margin-1x"></i> 通过电子邮件邀请</a>

    <h3 class="uppercase"> 配置您的工作场所帐户</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="badge">第 01 步</span>  通过设备设置在移动设备上打开本地应用程序。
        </li>
        <li class="padding-top-double"><span class="badge">第 02 步</span>   点击添加帐户开始注册过程。
        </li>
        <li class="padding-top-double"><span class="badge">第 03 步</span>   提供您的公司电子邮件地址，并点击登录。
        </li>
        <li class="padding-top-double"><span class="badge">第 04 步</span>   输入您的详细信息，并点击登录。
				用户名-输入电子邮件中提供的用户名。
				密码-输入电子邮件中提供的密码。
        </li>

        <li class="padding-top-double"><span class="badge">第 05 步</span>   阅读策略协议，并点击我接受协议并完成设备注册。
        </li>

    </ul>
    <br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <p class="grey margin-top">遵循向导中的说明 </p>
    <center>
        <a href="{{@unit.publicUri}}/images/windows_enrollment.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/windows_enrollment.png" class="img-responsive">
        </a>
    </center>
</div>

<br/>

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/type-view.js"}}
{{/zone}}