{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Raspberry Pi</h1>
    <hr>
</div>

<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 padding-top">
    <img src="{{@unit.publicUri}}/images/respberry-icon.png" class="img-responsive">
</div>


<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 padding-top">
    <h3 class="uppercase">它是做什么的</h3>
    <hr>
    <p class="grey margin-top">将RaspberryPi连接到WSO2 IoT服务器并对其进行管理。</p>
    <br>
    <h3 class="uppercase">你需要什么</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">第 01 项 </span>
               Raspberry Pi 带SD卡（互联网启用[Wifi或以太网]）。
        </li>
        <li>
            <span class="badge">第 02 项</span>
               	部件 DHT11 温度传感器。
        </li>
        <li>
            <span class="badge">第 03 项</span>
               LED 灯。
        </li>
        <li>
            <span class="badge">第 04 项</span>
              	 电阻 (如 : 470 欧姆)。
        </li>
        <li>
            <span class="badge">步骤 05</span>
              	继续[准备]部分。
    </ul>
    <br>
    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin"
       class="btn-operations"
       target="_blank"><i class="fw fw-api add-margin-1x"></i> 查看 API</i>
    </a>
    <a href="#" class="download-link btn-operations">
        <i class="fw fw-download add-margin-1x"></i>下载代理 
    </a>

    <p class="doc-link">点击 <a href="https://docs.wso2.com/display/IoTS320/Raspberry+Pi"
                                 target="_blank">这</a> 了解最新的指示和故障排除。</p>
    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7  center-container">
                    <h3>为您的设备命名并从以下链接下载代理。</h3>
                    <br/>
                    <form id="downloadForm" method="GET"
                          action="{{@app.context}}/api/devices/sketch/download">
                        <div id="invalid-username-error-msg" class="alert alert-danger hidden"
                             role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input class="new-device-name" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="如 Lobby_RaspberryPi"
                                       name="deviceName" size="60" required>
                                <br/>
                                <input type="hidden" class="deviceType" name="deviceType"
                                       value="raspberrypi" />
                                <input type="hidden" class="sketchType" name="sketchType"
                                       value="raspberrypi" />
                            </div>
                        </div>
                        <div class="buttons" style="padding-bottom: 0px">
                            <a class="btn btn-operations" onclick="downloadAgent()">现在下载</a>

                            <a href="#" id="download-device-download-link"
                               class="btn btn-operations"> 复制链接
                            </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="device-agent-downloading-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>设备代理将很快下载。</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="download-device-modal-content-links" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h4 id="download-device-url"></h4>
                </div>
            </div>
        </div>
    </div>
    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>后台异常。请稍后重试。</h3>
                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>你必须先登录。</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            	转到登录页面
                        </a>
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            	取消
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>操作不允许。</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>设备程序不存在。</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>异常错误。</h3><br/>
                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            	好的
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-double grey-bg">
    <h3 class="uppercase">准备</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
               	连接 RaspberryPi, DHT11 温度传感器 和 LED 如下图所示。
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
               	确保你的 RaspberryPi 板能连接到网络。
        </li>
        <li class="padding-top-double">
            <span class="badge">03</span>
             	通过上面的[下载代理]按钮下载RaspberryPi 代理。（或者，您可以使用“curl”命令直接将Agent下载到您的 RaspberryPi。）
        </li>
        <li class="padding-top-double">
            <span class="badge">04</span>
               	将下载的代理复制到您的RaspberryPi中。
        </li>
        <li class="padding-top-double">
            <span class="badge">05</span>
              	 解压下载的代理并启动终端以运行以下命令。
        </li>
        <li class="padding-top-double">

            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
               [sudo ./testAgent.sh]    -    Script to test agent
            functionality.
        </li>
        <li class="padding-top-double">

            <span class="fw-stack margin-right">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i>
            </span>
               [sudo ./startService.sh]    -    Use this to start
            agent as Daemon.
        </li>
    </ul>
    <br>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <h3 class="uppercase">示意图</h3>
    <hr>
    <p class="grey margin-top">点击图片放大</p>
    <center>
        <a href="{{@unit.publicUri}}/images/schematicsGuide.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/schematicsGuide.png" class="img-responsive">
        </a>
    </center>
    <br/>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-double">
    <h3 class="uppercase">尝试</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double">
            <span class="badge">01</span>
          	查看您的所有连接设备 <a href="{{@app.context}}/devices"> [设备管理] </a>页面。
        </li>
        <li class="padding-top-double">
            <span class="badge">02</span>
             选择一个连接的设备并检查可用的控制操作和监控实时数据。
        </li>
        <li class="padding-top-double">
            <span class="badge">03</span>
               	您还可以通过导航到设备分析页面来查看发送到IoT-Server的数据分析。
        </li>
    </ul>
    <br/>
    <p class="grey margin-top">Click on the image to zoom</p>
    <center>
        <a href="{{@unit.publicUri}}/images/myDevices_analytics.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/myDevices_analytics.png" class="img-responsive">
        </a>
    </center>
</div>

<div id="raspberrypi-statistic-response-template" style="display: none">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i id="status-icon" class="fw fw-error fw-stack-1x"></i>
                    </span>
                    <br>
                </h3>
                <h4>
                    <span id="title"></span>
                    <br>
                </h4>
                <span id="description"></span>
            </div>
        </div>
    </div>
</div>

{{#zone "topCss"}}
    {{css "css/styles.css"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
{{/zone}}