<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('{{features.WIFI.code}}', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-wifi fw-stack-2x"></i>
                </span>
            Wi-fi
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('application', this)" >
                    <span class="wr-hidden-operations-icon fw-stack">
                        <i class="fw fw-padlock fw-stack-2x"></i>
                    </span>
            	应用程序
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('{{features.RESTRICTION.code}}', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-settings fw-stack-2x"></i>
                </span>
            	限制
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('mail', this)">
                    <span class="wr-hidden-operations-icon fw-stack">
                        <i class="fw fw-message fw-stack-2x"></i>
                    </span>
            	邮件
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('{{features.AIR_PLAY.code}}', this)">
                    <span class="wr-hidden-operations-icon fw-stack">
                        <i class="fw fw-service-provider fw-stack-2x"></i>
                    </span>
            Air Play
        </a>
    </div>
    <div class="wr-hidden-operations-content col-lg-8">

        <!-- application -->
        <div class="wr-hidden-operation" data-operation="application"  style="display: block">
            <div class="panel panel-default operation-data" data-operation="{{features.INSTALL_STORE_APPLICATION.code}}">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#installPublicAppiOS" aria-expanded="true" aria-controls="installPublicAppiOS">
                                    <span class="fw-stack">
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                        <i class="fw fw-arrow fw-down-arrow fw-stack-1x"></i>
                                    </span>
                            	安装公开版 App
                        </a>
                    </h2>
                </div>
                <div id="installPublicAppiOS" class="panel-collapse panel-body collapse in" role="tabpanel" aria-labelledby="installPublicAppiOS">
                    <label class="wr-input-label" for="appIdentifier">App 标识</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="appIdentifier" data-key="appIdentifier" placeholder="输入 App 标识">
                    </div>
                    <label class="wr-input-label col-sm-4" for="ituneID">iTunes 商店 ID</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="ituneID" data-key="ituneID" placeholder="输入 iTunes 商店 ID">
                    </div>

                    <label class="wr-input-label col-sm-4" for="bundleId">Bundle ID</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="bundleId" data-key="bundleId" placeholder="输入Bundle ID">
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input type="checkbox" class="operationDataKeys" id="appRemoval" data-key="appRemoval"  checked />
                            <span class="helper" title="Remove App upon dis-enrollment">在注销时删除应用程序<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                        </label>
                        <!--span>Enable if target network is not open or broadcasting</span-->
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input type="checkbox" class="operationDataKeys" id="backupData" data-key="backupData" checked />
                            <span class="helper" title="Prevent backup of App data">防止App数据的备份<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                        </label>
                        <!--span>Enable if target network is not open or broadcasting</span-->
                    </div>
                    <a href="javascript:runOperation('{{features.INSTALL_STORE_APPLICATION.code}}')" class="btn-operations">安装</a>
                </div>

            </div>
            <div class="panel panel-default operation-data" data-operation="{{features.INSTALL_ENTERPRISE_APPLICATION.code}}">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#installEnterpriseAppiOS" aria-expanded="true" aria-controls="installPublicAppiOS" class="collapsed">
                                    <span class="fw-stack">
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                        <i class="fw fw-arrow fw-down-arrow fw-stack-1x"></i>
                                    </span>
                            	安装企业版APP
                        </a>
                    </h2>	
                </div>
                <div id="installEnterpriseAppiOS" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="installEnterpriseAppiOS">
                    <label class="wr-input-label" for="appIdentifier">App 标识</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="appIdentifier" data-key="appIdentifier" placeholder="输入 App 标识">
                    </div>
                    <label class="wr-input-label col-sm-4" for="manifestURL">Manifest URL</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="manifestURL" data-key="manifestURL" placeholder="输入 manifest URL">
                    </div>

                    <label class="wr-input-label col-sm-4" for="bundleId">Bundle ID</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="bundleId" data-key="bundleId" placeholder="输入 Bundle ID">
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input type="checkbox" class="operationDataKeys" id="appRemoval" data-key="appRemoval"  checked />
                            <span class="helper" title="Remove App upon dis-enrollment">Remove App upon dis-enrollment<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                        </label>
                        <!--span>Enable if target network is not open or broadcasting</span-->
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input type="checkbox" class="operationDataKeys" id="backupData" data-key="backupData" checked />
                            <span class="helper" title="Prevent backup of App data">防止App数据的备份<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                        </label>
                        <!--span>Enable if target network is not open or broadcasting</span-->
                    </div>
                    <a href="javascript:runOperation('{{features.INSTALL_ENTERPRISE_APPLICATION.code}}')" class="btn-operations">安装</a>
                </div>
            </div>
            <div class="panel panel-default operation-data" data-operation="{{features.REMOVE_APPLICATION.code}}">
                <div class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#removeApplication" aria-expanded="true" aria-controls="removeApplication" class="collapsed">
                                    <span class="fw-stack">
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                        <i class="fw fw-arrow fw-down-arrow fw-stack-1x"></i>
                                    </span>
                            	卸载 App
                        </a>
                    </h2>
                </div>
                <div id="removeApplication" class="panel-collapse panel-body collapse" role="tabpanel" aria-labelledby="removeApplication">
                    <label class="wr-input-label col-sm-4" for="bundleId">Bundle ID</label>
                    <div class="wr-input-control">
                        <input type="text" class="form-control operationDataKeys" id="bundleId" data-key="bundleId" placeholder="输入 Bundle ID">
                    </div>
                    <a href="javascript:runOperation('{{features.REMOVE_APPLICATION.code}}')" class="btn-operations">卸载</a>
                </div>
            </div>
        </div>
        <!-- /application -->

        <!-- wi-fi -->
        <div class="wr-hidden-operation panel-body operation-data" data-operation="{{features.WIFI.code}}">
            <label class="wr-input-label" title="Identification of the wireless network to connect to">服务集标识符<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Identification of the wireless network to connect to</span-->
            <div class="wr-input-control">
                <input type="text" class="form-control operationDataKeys" id="ssid" data-key="ssid" placeholder="输入 SSID" />
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="hiddenNetwork" data-key="hiddenNetwork" checked />
                    <span class="helper" title="如果目标网络未打开或正在广播，请启用">隐藏的网络<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Enable if target network is not open or broadcasting</span-->
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="autoJoin" data-key="autoJoin"  checked />
                    <span class="helper" title="Automatically join this wireless network">自动加入<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Automatically join this wireless network</span-->
            </div>

            <label class="wr-input-label" title="配置代理以用于此网络">代理设置<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Configures proxies to be used with this network</span-->
            <div class="wr-input-control">
                <select class="form-control">
                    <option>无</option>
                </select>
            </div>

            <label class="wr-input-label" title="连接时使用无线网络加密">加密类型<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Wireless network encryption to use when connecting</span-->
            <div class="wr-input-control">
                <select class="form-control operationDataKeys" id="encryptionType" data-key="encryptionType">
                    <option data-id="WPA">个人的 WPA/WPA2</option>
                </select>
            </div>

            <label class="wr-input-label" title="无线网络密码">密码<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Password for the wireless network</span-->
            <div class="wr-input-control">
                <input type="password" value="" class="operationDataKeys" id="password" data-key="password" placeholder="输入文本"/>
            </div>

            <label class="wr-input-label" title="将网络配置为旧版或Passport">网络类型<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Configures network to appear as legacy or Passport</span-->
            <div class="wr-input-control">
                <select class="form-control">
                    <option>标准</option>
                </select>
            </div>
            <a href="javascript:runOperation('{{features.WIFI.code}}')" class="btn-operations">配置</a>
        </div>
        <!-- /wi-fi -->

        <!-- mail -->
        <div class="wr-hidden-operation panel-body" data-operation="mail">
            <label class="wr-input-label" title="The display name of the account">账号描述<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Identification of the wireless network to connect to</span-->
            <div class="wr-input-control">
                <input type="text" value="" placeholder="输入文本"/>
            </div>

            <label class="wr-input-label" title="访问电子邮件帐户的协议">账号类型<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Configures proxies to be used with this network</span-->
            <div class="wr-input-control">
                <div class="cus-col-25">
                    <select class="form-control">
                        <option>IMAP</option>
                    </select>
                </div>
                <div class="cus-col-50">
                    <span>Path Prefix</span> <input type="text" value="" placeholder="输入文本" />
                </div>
                <br class="c-both" />
            </div>

            <label class="wr-input-label" title="用户的显示名称">用户的显示名称<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Identification of the wireless network to connect to</span-->
            <div class="wr-input-control">
                <input type="text" value="" placeholder="input text"/>
            </div>

            <label class="wr-input-label" title="帐户的地址">电子邮件地址<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Identification of the wireless network to connect to</span-->
            <div class="wr-input-control">
                <input type="text" value="" placeholder="输入文本"/>
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" checked />
                    <span class="helper" title="消息可以从此帐户移到另一个帐户">允许用户从该帐户中移动消息<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Enable if target network is not open or broadcasting</span-->
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" checked />
                    <span class="helper" title="在最近的地址同步中包含此帐户">允许同步最近地址<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Enable if target network is not open or broadcasting</span-->
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" checked />
                    <span class="helper" title="仅通过邮件应用程序从此帐户发送外发邮件">仅在邮件中使用<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Send outgoing mail from this account only from Mail app</span-->
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" checked />
                    <span class="helper" title="帐户支持 S/MIME">启动 S/MIME<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Support S/MIME for this account</span-->
            </div>

            <label class="wr-input-label" title="访问电子邮件帐户的协议">邮件服务器和端口<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>The protocol for accessing the email account</span-->
            <div class="wr-input-control">
                <div class="cus-col-70">
                    <input type="text" value="" placeholder="输入文本"/>
                </div>
                <div class="cus-col-25">
                    <span> : </span><input type="text" value="993" placeholder="输入文本" />
                </div>
                <br class="c-both" />
            </div>

            <label class="wr-input-label" title="用于连接到服务器以接收邮件的用户名">用户名<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>The Username used to connect to the server for incoming mail</span-->
            <div class="wr-input-control">
                <input type="text" value="" placeholder="输入文本"/>
            </div>

            <label class="wr-input-label" title="进入邮件服务器的身份验证方法">身份认证类型<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>Wireless network encryption to use when connecting</span-->
            <div class="wr-input-control">
                <select class="form-control">
                    <option>密码</option>
                </select>
            </div>

            <label class="wr-input-label" title="进入邮件服务器的密码">密码<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></label>
            <!--span>The Username used to connect to the server for incoming mail</span-->
            <div class="wr-input-control">
                <input type="text" value="" placeholder="输入文本"/>
            </div>

            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" checked />
                    <span class="helper" title="通过安全套接字层检索传入邮件">使用 SSL<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
                <!--span>Enable if target network is not open or broadcasting</span-->
            </div>
        </div>
        <!-- /mail -->

        <!-- general -->
        <div class="wr-hidden-operation panel-body operation-data" data-operation="{{features.RESTRICTION.code}}">
            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="allowCamera" data-key="allowCamera" checked />
                    <span class="helper" title="允许摄像头">允许摄像头<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
            </div>
            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="allowCloudBackup" data-key="allowCloudBackup" checked/>
                    <span class="helper" title="允许云备份">允许云备份<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
            </div>
            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="allowScreenShot" data-key="allowScreenShot" checked/>
                    <span class="helper" title="允许截图">允许截图<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
            </div>
            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="allowSafari" data-key="allowSafari" checked />
                    <span class="helper" title="允许Safari浏览器">允许Safari浏览器<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
            </div>
            <div class="wr-input-control">
                <label class="wr-input-control checkbox">
                    <input type="checkbox" class="operationDataKeys" id="allowAirDrop" data-key="allowAirDrop" checked />
                    <span class="helper" title="允许 AirDrop">允许 AirDrop<span class="wr-help-tip glyphicon glyphicon-question-sign"></span></span>
                </label>
            </div>
            <a href="javascript:runOperation('{{features.RESTRICTION.code}}')" class="btn-operations">配置</a>
        </div>
        <!-- /general -->
        <!-- air play -->
        <div class="wr-hidden-operation panel-body operation-data" data-operation="{{features.AIR_PLAY.code}}">
            <label class="wr-input-label col-sm-4" for="airPlayLocation">位置</label>
            <div class="wr-input-control">
                <input type="text" class="form-control operationDataKeys" id="airPlayLocation" data-key="location" placeholder="输入位置" />
            </div>
            <label class="wr-input-label col-sm-4" for="airPlayDeviceName">设备名称</label>
            <div class="wr-input-control">
                <input type="text" class="form-control operationDataKeys" id="airPlayDeviceName" data-key="deviceName" placeholder="输入设备名称" />
            </div
            <label class="wr-input-label col-sm-4" for="airPlayPassword">AirPlay 密码</label>
            <div class="wr-input-control">
                <input type="password" class="form-control operationDataKeys" id="airPlayPassword" data-key="password" placeholder="密码" />
            </div>
            <a href="javascript:runOperation('{{features.AIR_PLAY.code}}')" class="btn-operations">配置</a>
        </div>
        <!-- /air play -->
    </div>
</div>