<div id="errorOperations" class="operation">
    <div class="modal-header">
        <h3 class="pull-left modal-title">
            <span class="fw-stack add-margin-right-2x">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-error fw-stack-1x"></i>
            </span>
            	操作无法执行！
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
    </div>
    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
        <h4>
            	请选择一个设备或设备列表来执行操作。
        </h4>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <a href="javascript:hidePopup()" class="btn-operations">好的</a>
        </div>
    </div>
</div>
<div id="errorOperationUnexpected" class="operation">
    <div class="modal-header">
        <h3 class="pull-left modal-title">
            <span class="fw-stack add-margin-right-2x">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-error fw-stack-1x"></i>
            </span>
            	操作无法执行！
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
    </div>
    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
        <h4>
            	发生异常错误，请稍后尝试。
        </h4>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <a href="javascript:hidePopup()" class="btn-operations">好的</a>
        </div>
    </div>
</div>
<div id="operationSuccess" class="operation">
    <div class="modal-header">
        <h3 class="pull-left modal-title">
            <span class="fw-stack add-margin-right-2x">
                <i class="fw fw-circle-outline fw-stack-2x"></i>
                <i class="fw fw-check fw-stack-1x"></i>
            </span>
            	操作成功排队！
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
    </div>
    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
        <h4>
            	操作已成功排队等待发送至设备。
        </h4>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <a href="javascript:hidePopup()" class="btn-operations">好的</a>
        </div>
    </div>
</div>

<div id="messageSuccess" class="operation">
    <div class="modal-header">
        <h3 class="pull-left modal-title">
            <span class="fw-stack add-margin-right-2x">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i class="fw fw-check fw-stack-1x"></i>
                    </span>
           	消息已成功发送 ！
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
    </div>
    <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
        <h4>消息已按顺序发送到设备。</h4>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <a href="javascript:hidePopup()" class="btn-operations">好的</a>
        </div>
    </div>
</div>
{{#each features}}
    <a href="javascript:operationSelect('{{code}}')" title="{{description}}">
        <i class="fw {{icon}}"></i>
        <span>{{name}}</span>
    </a>
    <div class="operation" data-operation-code="{{code}}">

        <div class="modal-content clearfix">
            <div class="modal-header">
                <h3 class="pull-left modal-title">
                    <span class="fw-stack add-margin-right-2x">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i class="fw {{icon}} fw-stack-1x"></i>
                    </span>
                    {{name}}
                    <br>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
            </div>
            <div class="modal-body add-margin-top-2x add-margin-bottom-2x">
                <h4>
                    {{#equal code "WIPE_DATA"}}
                        {{#equal deviceType "android"}}
                            {{#equal ownership "BYOD"}}
                                	输入设备的PIN码*
                                <br><br>
                                <div>
                                    <input id="pin" type="password"
                                        class="form-control modal-input operationDataKeys"
                                            placeholder="[ 必须是BYOD设备 ]" data-key="pin" />
                                </div>
                            {{/equal}}
                        {{/equal}}
                    {{/equal}}
                    {{#equal code "NOTIFICATION"}}
                        	在下面输入您的信息。
                        <br><br>
                        <div id="notification-error-msg" class="alert alert-danger hidden" role="alert">
                            <i class="icon fw fw-error"></i><span></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control modal-input operationDataKeys"
                                   id="messageTitle" data-key="messageTitle"  placeholder="标题在这里..." />
                        </div>
                        <div class="form-group">
                                <textarea class="form-control modal-input operationDataKeys"
                                          id="messageText" data-key="messageText" placeholder="在这里留言..."></textarea>
                        </div>
                        <br>
                    {{/equal}}
                    {{#equal code "CHANGE_LOCK_CODE"}}
                       	在下面输入新的锁码。
                        <br><br>
                        <input type="password" class="form-control modal-input operationDataKeys" id="lockcode"
                               data-key="lockCode" placeholder="输入锁码"/>
                        <br>
                    {{/equal}}
                    {{#equal code "DEVICE_LOCK"}}
                        {{#equal deviceType "android"}}
                            {{#equal ownership "COPE"}}
                                <label class="wr-input-control checkbox">
                                    <input id="hard-lock" type="checkbox" class="form-control operationDataKeys"
                                           data-key="hard-lock"/>
                                    <span class="helper" title="一旦启用，设备将被永久阻止。">
                                            &nbsp;&nbsp;&nbsp;启用永久锁
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                        </span>
                                </label>
                                <br><br>
                            {{/equal}}
                            	输入您的消息以显示在锁定屏幕中
                            <br><br>
                            <div>
                                <textarea id="lock-message" class="form-control modal-input operationDataKeys"
                                    data-key="lock-message" placeholder="[ 消息内容是可选的 ]"></textarea>
                            </div>
                        {{/equal}}
                    {{/equal}}
                    {{#equal code "UPGRADE_FIRMWARE"}}
                        {{#equal deviceType "android"}}
                            	输入固件升级计划信息。
                            <br><br>
                            <label class="wr-input-control checkbox">
                                <input id="instant-upgrade" type="checkbox" class="form-control operationDataKeys"
                                       data-key="instant-upgrade"/>
                                    <span class="helper"
                                          title="一旦启用，设备固件升级过程将立即开始。">
                                            &nbsp;&nbsp;&nbsp;安装更新
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                        </span>
                            </label>
                            <br><br>
                            <div class='input-group date' id='dateTimePicker'>
                                	输入计划固件升级的日期和时间。
                                <br><br>
                                <div id="firmware-error-msg" class="alert alert-danger hidden" role="alert">
                                    <i class="icon fw fw-error"></i><span></span>
                                </div>
                                <input type='text' class="form-control modal-input operationDataKeys"
                                       style="z-index : 900;" name="daterange" id="schedule" data-key="schedule"/>
                            </div>
                            <br><br>
                            <div class='wr-input-control' id='firmwareServerInfo'>
                                	输入固件升级服务器URL（即http://abc.com或http://abc.com/ota）（可选的）。
                                <br><br>
                                <input type='text' class="form-control modal-input operationDataKeys" id="server"
                                       data-key="server"/>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('.modalpopup-bg').css('z-index', '1000');
                                    $('.modalpopup-container').css('z-index', '1200');

                                    $('input[name="daterange"]').daterangepicker({
                                        singleDatePicker: true,
                                        timePicker: true,
                                        showDropdowns: true,
                                        timePickerIncrement: 1,
                                        locale: {
                                            format: 'MM-DD-YYYY hh:mm a'
                                        }
                                    });
                                });
                                $('#instant-upgrade').change(function () {
                                    if ($(this).is(":checked")) {
                                        $('#dateTimePicker').addClass("hidden");
                                        $("#schedule").val('');

                                    } else {
                                        $('#dateTimePicker').removeClass("hidden");
                                        $('input[name="daterange"]').daterangepicker({
                                            singleDatePicker: true,
                                            timePicker: true,
                                            showDropdowns: true,
                                            timePickerIncrement: 1,
                                            locale: {
                                                format: 'MM-DD-YYYY hh:mm a'
                                            }
                                        });
                                    }
                                });
                            </script>
                            <br>
                        {{/equal}}
                    {{/equal}}
                    <br><br>
                    	你想在选定的设备上执行此操作吗？
                    <br>
                </h4>
            </div>
            <div class="modal-footer">
                <div class="buttons">
                    <a href="javascript:runOperation('{{code}}')" class="btn-operations">是的</a>
                    <a href="javascript:hidePopup()" class="btn-operations btn-default">不了</a>
                </div>
            </div>
        </div>

    </div>
{{/each}}
<br class="c-both"/>